@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Kirang+Haerang&family=Yeon+Sung&display=swap');

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Yeon Sung", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}